

<div class="sign-in">
	
<%= render "shared/desc" %>

	<h2 class="sign-in">Sign In</h2>

	<form class="sign-in" action="<%= session_url %>" method="post">
	  <input
	     name="authenticity_token"
	     type="hidden"
	     value="<%= form_authenticity_token %>">


		<div class="field-block group">
		  <label class="form-sign-in-label" for="user_email">Email</label>
		  <input
				class="form-sign-in-field"
		     id="user_email"
		     name="user[email]"
		     type="text">
		</div>


		<div class="field-block group">
		  <label class="form-sign-in-label" for="user_password">Password</label>
		  <input
				class="form-sign-in-field"
		     id="user_password"
		     name="user[password]"
		     type="password">
 		</div>



	  <input type="submit" class="button button-sign-in" value="Log in">
		<%= link_to "Sign Up", 
						new_user_url, 
						class: ["button", "button-sign-up"]%>



	</form>
</section>

