<%= render "shared/sidebar" %>

<section>

<h1><%= @user.username %></h1>


<script type="application/json" id="bootstrapped_trans_json">
  { "trans": <%= @trans.to_json.html_safe %> }
</script>

<div id="category-spend" style="width:100%; height:400px;"></div>

<script>
	var transactions = JSON.parse($("#bootstrapped_trans_json").html());
	
	var categories = [];
	_.each(transactions.trans, function(obj) {
		categories.push(obj.category)
	});
	
	categories = _.uniq(categories)
	
	
	$(function () { 
	    $('#category-spend').highcharts({
	        chart: {
	            type: 'bar'
	        },
	        title: {
	            text: 'Spending by Category'
	        },
	        xAxis: {
	            categories: categories
	        },
	        yAxis: {
	            title: {
	                text: 'Amount Spent'
	            }
	        },
					
	        // series: [{name: 'a', data: [1,2,5,1,5]}]
					series: [{name: 'a', data: [1,2,3,4,5,6,7,1]}, 
									 {name: 'a', data: [5,7,3,2,5,3,4,9]},
									 {name: 'c', data: [5,7,3,2,5,3,4,9]}]
					
	    });
	});
</script>

</section>