

<nav class="sidebar">

  <ul>
    <li class="sidebar-button"><%= link_to "Graphs", user_url(current_user) %></li>
    <li class="sidebar-button"><%= link_to "Messages", messages_url %></li>
    <li class="sidebar-button"><%= link_to "Transactions", transactions_url %></li>
    <li class="sidebar-button"><%= link_to "Trustees", trusts_url %></li>
  </ul>
</nav>