/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h1, button, h2, section, a, header, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: arial, sans-serif, inherit;
	vertical-align: baseline;
	text-decoration: none;
	
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
	overflow: hidden; 
}

h1 {
/*	border: 2px solid black;*/
	float: left;
}

.header-wrapper {
	width: 900px;
	margin: auto;
/*  border-left: 3px solid #333;*/
/*  border-right: 3px solid #333;*/
}

ul.head-right > li{
	display: block;
	margin: 10px 20px;
}

.main {
	width: 800px;
	margin: auto;
}

.logo{
	background:white;
	margin: 0;
/*	display: block;*/
}

header {
  background: #396539;
  border-bottom: 3px solid #333;
	display: block;
}

.head-right {
	float:right;
}

.head-right > li {
	position: relative;
	float: right;
	border: 1px solid grey;
	padding: 5px;
	background: lightgrey;
	color: black;
}

ul, li {
	list-style: none;
}


.sidebar-button {
	color: white;
	margin: 0;
	line-indent:0;
}

nav {
	float: left;
	background: #396539;
  margin-bottom: -5000px; 
  padding-bottom: 5000px; 
}

section {
	float:left;
	display: block;
	width: 400px;
	margin: 0 20px 0 20px;
}