
<div class="error-bars group">
  <% if flash[:alert] && !flash[:alert].empty? %>
    <% flash[:alert].each do |error| %>
			<div class="error-msg">
	      <%= error %>
			</div>
    <% end %>
  <% end %>
	<% flash[:alert] = nil %>
</div>

<% if @trustees.empty? %>
	<p id="no-trustees">Ya gotta trust somebody...</p>
<% else %>
	<table>
	<% @trustees.each do |trustee| %>
		<% user = User.find(trustee.trustee_id) %>
		<tr id="<%= user.id %>">
			<td>
				<%= user.username %>
			</td>
			<td class="remove_button">
				<%= button_to "Remove", trust_url(trustee), 
				{ method: :delete,
					class: "button button-remove", 
						"data-remote" => "true"} %>
			</td>
		</tr>
	<% end %>
</table>
<% end %>